/*selectores
-etiquetas-> nombre de la etiqueta
ID-> #nombreID
Clases->#.nombreClase
*/


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{

    background: rgb(255, 224, 229);
     font-family: "Fjalla One", sans-serif;
}

h1,h2 {

    text-align: center;
  
}

img{

     display: block;
     margin: auto;
     border-radius: 50%;
     width: 200;
     height: 215px;
     object-fit: cover;
     transition: all 0.5s ease;
   


}

img:hover{

     transform: scale(1.1);

}

p{

    text-align: center;
    background: rgb(254, 150, 209);
    margin: auto;
    width: 70%;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    color: rgb(233, 0, 101);


}

p:hover{

     background: white;

}

h3{
      
    color: rgb(233, 0, 101);
    width: 80%;
    margin: auto;
    background:rgb(254, 150, 209);
    padding:20px;
    margin-top:30px ;
    

}

ul{

    width: 80%;
    margin:auto;
    padding:20px;

}

ol{

    background: rgb(254, 150, 209);
    width: 80%;
    margin:auto;
    padding:20px;


}

a{

    background: rgb(255, 120, 197);
    color:white;
    padding:20px;
    display: block;
    margin:40px auto;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    text-decoration: none;


}

#maps{

    margin: 40px auto;
    width: 100%;
    height: 450px;
    
}

#maps iframe{

    width: 100%;
    height: 100%;

}

#formContainer{

    width: 100%;
    background: pink;
    padding: 50px 0;
    margin: 40px auto;

}

#formContainer form{

    width: 80%;
    margin: auto;



}

#formContainer label{

    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    


}

#formContainer input, #formContainer textarea{

    display: block;
    border: 2px solid rgb(255, 0, 166);
    border-radius: 8px;
    height: 25px;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    margin-bottom: 15px;

}

#formContainer textarea{

    height: 100px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;



}

#formContainer input[type="submit"] {
  width: auto;
  height: auto;                 
  padding: 20px 40px;           
  font-size: 24px;
  background: rgb(255, 120, 197);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 30px auto; 
            
}

#formContainer input[type="submit"]:hover {
  background-color: rgb(233, 0, 101);}


